<div class="row about-top"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="page-header text-center">
        <h1 class="about-header">
          BassTracker
        </h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="container content">
        <p class="text-left about-p">
          Basstracker is a tool to help people track their fishing habits. Every time you catch a fish, you can record it here describing the lure and technique you used and also upload a picture. Track which fishing techniques work best for you and share with your friends!
        </p>
      </div>
    </div>
  </div>
</div>
