.navbar-header {
  padding-right: 35px;
}

body {
  padding-top: 50px;
}

.fish-image {
  margin: 0 auto;
  max-width: 400px;
}

.new-fish-row {
  margin-bottom: 40px;
  margin-top: 22px;
}

.glyphicon {
  color: #000;
}

.glyph-lg {
  font-size: 40px;
  padding: 20px 45px 35px 45px;
}

.fish-row {
  margin: 50px auto;
}

label {
  font-size: 18px;
}

.fish-label {
  margin: 22px auto;
}

.fish-description {
  text-align: center;
  font-size: 22px;
  letter-spacing: 1px;
  padding: 10%;
  padding-top: 0;
  padding-bottom: 30px;
}

.fish-label > div > h2 {
  text-align: center;
  letter-spacing: 1px;
  word-spacing: 5px;
}

form {
  font-family: 'Raleway', sans-serif;
}

ul.navbar-nav.nav > li:hover {
  background-color: #e7e7e7;
}

div.content {
  width: 80%;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  padding: 40px;
  padding-top: 15px;
  padding-bottom: 40px;
  margin-top: 35px;
  margin-bottom: 60px;
  background-color: #FFF;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 45px;
}

.button-container {
  width: 60%;
  margin: 0 auto;
}

.facebook-btn-logo {
  width: 30px;
  margin-right: 15px;
}

.facebook-btn-logo.small-logo {
  width: 22px;
}

.about-top {
  background-image: url('../images/fish.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: 0px -250px;
  background-repeat: no-repeat;
  height: 350px;
  margin-bottom: 50px;
}

.about-header {
  font-size: 55px;
}

.about-p {
  margin-top: 15px;
  font-size: 22px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  word-spacing: 3px;
  line-height: 44px;
  padding: 5px;
}

.help-block {
  margin-top: 11px;
}

.top-space {
  margin-top: 30px;
}

div.profile-info {
  font-size: 30px;
  letter-spacing: 1px;
  word-spacing: 10px;
  font-family: 'Raleway',sans-serif;
  margin: 50px auto;
}

.no-top-space {
  margin-top: 0;
  padding-top: 0;
}

/* Loader Code */

.facebook-loader-wrapper {
  height: 175px;
}

.facebook-loader {
  border-top-color: #3b5998;
  margin: 0 auto;
  margin-top: 100px;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.glyphicon:hover {
  cursor: pointer;
}
