<div class="container content">
  <div class="page-header">
    <h1>
      Update Password
    </h1>
  </div>

  <form ng-submit="edit.changePassword(formData)" name="passwordForm" ng-init="formData.id = main.id" novalidate>
    <div class="form-group row" ng-show="!main.fbAccount" ng-init="formData.fb = main.fbAccount" ng-class="{ 'has-success' : (!passwordForm.currentPassword.$pristine && passwordForm.currentPassword.$valid), 'has-error' : (!passwordForm.currentPassword.$pristine && !passwordForm.currentPassword.$valid) }">
      <label>
        Current Password:
      </label>
      <div class="input-group">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-eye-open"></span>
        </div>
        <input type="password" name="currentPassword" class="form-control password-input" ng-model="formData.currentPassword" ng-minLength="6" ng-maxLength="20" ng-pattern="/^(?=.*\d)(?=.*[a-z])[0-9a-zA-Z]{6,20}$/" required>
      </div>
      <p class="help-block" ng-show="(!passwordForm.currentPassword.$pristine && passwordForm.currentPassword.$viewValue == '')"> <code> Password is required. </code> </p>
      <p class="help-block" ng-show="(!passwordForm.currentPassword.$pristine && passwordForm.currentPassword.$error.pattern && passwordForm.currentPassword.$viewValue != '')"> <code> Password must contain letters and at least one number. </code> </p>
      <p class="help-block" ng-show="(!passwordForm.currentPassword.$pristine && passwordForm.currentPassword.$error.minlength || passwordForm.currentPassword.$error.maxlength)"> <code> Password must be between six and twenty characters. </code> </p>
    </div>
    <div class="form-group row" ng-class="{ 'has-success' : (!passwordForm.newPassword.$pristine && passwordForm.newPassword.$valid), 'has-error' : (!passwordForm.newPassword.$pristine && !passwordForm.newPassword.$valid) }">
      <label>
        New Password:
      </label>
      <div class="input-group">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-eye-open"></span>
        </div>
        <input type="password" name="newPassword" class="form-control password-input" ng-model="formData.newPassword" ng-minLength="6" ng-maxLength="20" ng-pattern="/^(?=.*\d)(?=.*[a-z])[0-9a-zA-Z]{6,20}$/" required>
      </div>
      <p class="help-block" ng-show="(!passwordForm.newPassword.$pristine && passwordForm.newPassword.$viewValue == '')"> <code> Password is required. </code> </p>
      <p class="help-block" ng-show="(!passwordForm.newPassword.$pristine && passwordForm.newPassword.$error.pattern && passwordForm.newPassword.$viewValue != '')"> <code> Password must contain letters and at least one number. </code> </p>
      <p class="help-block" ng-show="(!passwordForm.newPassword.$pristine && passwordForm.newPassword.$error.minlength || passwordForm.newPassword.$error.maxlength)"> <code> Password must be between six and twenty characters. </code> </p>
    </div>
    <div class="form-group row" ng-class="{ 'has-success' : (!passwordForm.confirmPassword.$pristine && passwordForm.confirmPassword.$valid), 'has-error' : (!passwordForm.confirmPassword.$pristine && !passwordForm.confirmPassword.$valid) }">
      <label>
        Confirm Password:
      </label>
      <div class="input-group">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-eye-open"></span>
        </div>
        <input type="password" name="confirmPassword" class="form-control password-input" ng-minLength="6" ng-maxLength="20" ng-pattern="{{passwordForm.newPassword.$viewValue}}" ng-model="formData.confirmPassword" required>
      </div>
      <p class="help-block" ng-show="(!passwordForm.confirmPassword.$pristine && passwordForm.confirmPassword.$viewValue == '')"> <code> Confirmation is required. </code> </p>
      <p class="help-block" ng-show="(!passwordForm.confirmPassword.$pristine && passwordForm.confirmPassword.$viewValue != passwordForm.newPassword.$viewValue)"> <code> Passwords must match. </code> </p>
    </div>
    <div class="row">
      <button class="btn btn-warning btn-lg inline">Update Password</button>
      <a href="/" class="btn btn-primary btn-lg">Home</a>
    </div>
  </form>
  <br>
  <p class="alert alert-success" ng-show="edit.success == true">{{edit.msg}} - Redirecting ...</p>
  <p class="alert alert-danger" ng-show="edit.success == false">{{edit.msg}}</p>
</div>
