<div class="container content">
  <div class="page-header">
    <h1 class="text-center">
      {{ main.name }}
    </h1>
  </div>
  <div class="row top-space">
    <div class="col-sm-12 col-md-6 col-lg-3">
      <a href="/" class="btn btn-block btn-lg btn-primary">Home</a>
      <br>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <a href="#" class="btn btn-block btn-lg btn-success">Your Fish</a>
      <br>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <a href="/users/edit" class="btn btn-block btn-lg btn-warning">Edit Profile</a>
      <br>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <a href="/password/edit" class="btn btn-block btn-lg btn-info">Change Password</a>
      <br>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="profile-info">
        <strong>Email: </strong> {{ main.email }}
      </div>
      <hr>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="profile-info">
        <strong>Name: </strong> {{ main.fullname }}
      </div>
      <hr>
    </div>
  </div>
</div>
