<div class="container content">
  <div class="page-header">
    <h1>
      Sign Up
    </h1>
  </div>

  <form ng-submit="register.regUser(regData)">
    <div class="form-group">
      <label>
        Email:
      </label>
      <input type="text" name="email" placeholder="John@example.com" class="form-control" ng-model="register.regData.email">
    </div>
    <div class="form-group">
      <label>
        First Name:
      </label>
      <input type="text" name="firstName" placeholder="What should we call you?" class="form-control" ng-model="register.regData.firstName">
    </div>
    <div class="form-group">
      <label>
        Password:
      </label>
      <input type="password" name="password" class="form-control" ng-model="register.regData.password">
    </div>
    <button class="btn btn-primary btn-lg inline">Submit</button>
    <a href="/auth/facebook" target="_self" class="btn btn-primary btn-lg"><img src="assets/images/facebook_logo_white.png" class="facebook-btn-logo small-logo">Log in with Facebook</a>
  </form>
  <br>
  <p class="alert alert-success" ng-show="register.success == true">{{register.msg}} - Redirecting ...</p>
  <p class="alert alert-danger" ng-show="register.success == false">{{register.msg}}</p>
</div>
